/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change the box-sizing to border-box. Remember, we’re going to want to include the necessary vendor prefixes for the box-sizing property,
 as it is a relatively new property*/
 *:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
	margin: 0 auto ;
	padding-left: 30px;
	padding-right: 30px;
	width: 960px;
}
/*Now that all of our content is centered, let’s create some vertical spacing between elements. For starters let’s place a 22-pixel bottom margin on a few of our heading and paragraph elements.
 We’ll place and comment on these typography styles below our grid styles.
*/
h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 22px;
}
/*We’ll want all of our buttons to have a 5-pixel border-radius.
 They should be displayed as inline-block elements so we can add padding around all four sides without issue; 
 we’ll remove any margin*/
 .btn {
	 border-radius: 5px;
	 display: inline-block;
	 margin: 20px;
 }
 .btn-alt {
	 border: 1px solid #2c5680;
	 padding: 10px 30px; 
 }
 .hero {
padding: 22px 80px 60px 80px;
 }